<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" z-index: -1">
    <a class="navbar-brand" href="#" style="padding-left: 50px;">
        <img src="assets/watson.png" alt="Logo" style="width:45px;">
    </a>
    <a class="navbar-brand" href="#">IBM Annotators for Clinical Data and Insights for Medical Literature</a>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Eduard.Sule.Armengol1@ibm.com</a>
            </li>
        </ul>
    </div>
</nav>