<div class="container" style="padding: 0px; width: 98000px; margin-right: 0px; margin-left: 60px;">
    <div style="border: 3px solid rgb(1, 1, 1); overflow: hidden; margin: 15px auto; max-width: 2936px; max-height: 500px;">
        <iframe scrolling="no" src="https://dte-watson-knowledge-studio-demo.mybluemix.net/self-service/home" style="border: 0px none; margin-left: -15px; height: 859px; margin-top: -50px; width: 4926px;
        -webkit-transform: scale(0.66); padding: 0px;
        transform: scale(0.66);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;">
    </iframe>
    </div>
</div>