<div class="sidenav">
    <fa-icon (click)="goToHome()" [icon]="['fas', 'home']" size="2x" style="color: white; margin: 5px;"></fa-icon>
    <a></a>
    <a></a>
    <fa-icon (click)="goToSearch()" [icon]="['fas', 'search-plus']" size="2x" style="color: white; margin: 5px;"></fa-icon>
    <a></a>
    <a></a>
    <fa-icon (click)="goToGraph()" [icon]="['fas', 'project-diagram']" size="2x" style="color: white; margin: 4px;"></fa-icon>
    <a></a>
    <a></a>
    <fa-icon (click)="goToDocs()" [icon]="['fas', 'file-medical-alt']" size="2x" style="color: white; margin: 8px;"></fa-icon>
    <a></a>
    <a></a>
    <fa-icon (click)="goToSecondExample()" [icon]="['fas', 'chart-bar']" size="2x" style="color: white; margin: 6px;"></fa-icon>
    <img src="assets/ibm.png" alt="" height="23" width="43" style="position:absolute; top:100vh; transform:translateY(-100%);margin-left: 2px; left: 0px;">
</div>